body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

h1 {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    width: 250px;
    margin: 20px auto 15px auto;
    font-size: 22px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
     width: 320px;
     border-radius: 5%;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
}

.qr-code-image {
    width: 288px;
    border-radius: 5%;
    margin: 15px auto 0 auto;
}

 .main-paragraph{
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    width: 250px;
    padding-bottom: 42px;
    margin: auto;
}

.attribution {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    font-size: 0.5rem;
}